@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap");
*[class^="ui-form"] { -webkit-appearance: none !important; -moz-appearance: none !important; appearance: none !important; padding: 0; margin: 0; }

* { box-sizing: border-box; }

.ui-form { /* 체크, 라디오 */ }

.ui-form-check { width: 22px; height: 22px; border: none; border-radius: 0; display: inline-block; }

.ui-form-check[type=checkbox] { background: url(../images/checkbox.png) 0 0 no-repeat; }

.ui-form-check[type=checkbox]:checked { background: url(../images/checkbox-checked.png) 0 0 no-repeat; }

.ui-form-check-inline { display: inline-flex; align-items: center; }

.ui-form-check-inline label { color: #333; font-size: 12px; line-height: 16px; display: inline-block; margin-right: 10px; }

html, body { width: 100%; height: 100%; font-family: 'Nanum Gothic', sans-serif; padding: 0; margin: 0; }

h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; }

button { border: none; background: none; border: none; cursor: pointer; }

p { padding: 0; margin: 0; }

.ui-tab-content-wrap > div[class^="ui-tab-content"] { display: none; }

.ui-tab-content-wrap > div[class^="ui-tab-content"].active { display: block; }

#realtime-chat { display: flex; flex-direction: column; width: 100%; height: 100%; min-width: 1020px; background-color: #f7f8fa; }

header { display: flex; align-items: center; justify-content: space-between; height: 70px; background-color: #fff; padding: 0 40px; box-shadow: 0px 2px 0 0 rgba(138, 142, 145, 0.1); flex: 70px 0 0; }

header .coltrols-wrap { display: flex; align-items: center; justify-content: flex-start; }

header .coltrols-wrap .record { display: flex; align-items: center; }

header .coltrols-wrap .record:before { content: ''; display: block; width: 20px; height: 32px; background: url(../images/icon-mike.png) 0 0 no-repeat; margin-right: 20px; }

header .coltrols-wrap .record button { font-size: 16px; font-weight: 700; letter-spacing: 0.4px; text-align: center; color: #fff; width: 30px; height: 30px; line-height: 30px; background-color: #9da3ae; border-radius: 50%; }

header .coltrols-wrap .record button + button { margin-left: 10px; }

header .coltrols-wrap .record button.active { background-color: #ff5d38; }

header .coltrols-wrap .play-stop { display: flex; align-items: center; margin-left: 20px; }

header .coltrols-wrap .play-stop:before { content: ''; display: block; width: 1px; height: 18px; margin-right: 20px; opacity: 0.5; background-color: #000; }

header .coltrols-wrap .play-stop button { text-indent: -9999px; overflow: hidden; width: 28px; height: 28px; }

header .coltrols-wrap .play-stop button + button { margin-left: 10px; }

header .coltrols-wrap .play-stop .play { background: url(../images/icon-play.png) 0 0 no-repeat; }

header .coltrols-wrap .play-stop .stop { background: url(../images/icon-stop.png) 0 0 no-repeat; }

header h1 { display: flex; align-items: flex-end; justify-content: flex-end; }

header h1 img { display: block; }

header h1 img + img { margin-left: 20px; }

main { display: flex; flex: auto 1 1; height: calc(100% - 70px); }

main .record-text { flex: 40% 1 1; border-right: 1px solid #e3e3e3; background-color: #f1f4f9; box-shadow: 0.6px 0.8px 5px 0 rgba(0, 0, 0, 0.1); padding: 40px; overflow-y: scroll; }

main .record-text::-webkit-scrollbar { width: 6px; }

main .record-text::-webkit-scrollbar-thumb { background-color: #c4c9ce; border-radius: 10px; background-clip: padding-box; }

main .record-text::-webkit-scrollbar-track { background-color: ebeef1; border-radius: 10px; }

main .record-text p { font-size: 16px; line-height: 26px; letter-spacing: normal; color: #666; position: relative; padding: 25px 40px 25px 100px; border: 1px solid #f1f1f1; background-color: #fff; }

main .record-text p + p { border-top: none; }

main .record-text p:before { content: ''; display: block; width: 36px; height: 36px; position: absolute; top: 18px; left: 30px; }

main .record-text p.user:before { background: url(../images/icon-user.png) 0 0 no-repeat; }

main .record-text p.consultant { background-color: #fcfaf6; }

main .record-text p.consultant:before { background: url(../images/icon-consultant.png) 0 0 no-repeat; }

main .use-info-wrap { flex: 60% 1 1; min-width: 840px; display: flex; flex-direction: column; overflow-y: scroll; }

main .use-info-wrap::-webkit-scrollbar { width: 6px; }

main .use-info-wrap::-webkit-scrollbar-thumb { background-color: #c4c9ce; border-radius: 10px; background-clip: padding-box; }

main .use-info-wrap::-webkit-scrollbar-track { background-color: ebeef1; border-radius: 10px; }

main .use-info-wrap table { width: 100%; border: 1px solid #ccc; table-layout: fixed; border-collapse: collapse; }

main .use-info-wrap table th, main .use-info-wrap table td { border: 1px solid #e1e1e1; padding: 25px 20px; }

main .use-info-wrap table th { font-size: 15px; font-weight: bold; font-weight: 400; color: #334059; background-color: #fcfaf6; }

main .use-info-wrap table td { font-size: 15px; text-align: left; color: #333; background-color: #fff; }

main .use-info-wrap .check-wrap { flex: 0px 0 0; display: flex; align-items: center; justify-content: flex-end; padding: 14px 40px; background-color: #f3f4f6; }

main .use-info-wrap .check-wrap .ui-form-check-inline + .ui-form-check-inline { margin-left: 30px; }

main .use-info-wrap .user-info { display: flex; flex-direction: column; border-bottom: 1px dashed #a7aab3; background-color: #f3f4f6; }

main .use-info-wrap .user-info .row { display: flex; flex: 0px 0 0; }

main .use-info-wrap .user-info .item { flex: calc(100% / 3) 1 1; border-top: 1px solid #d3d7d8; border-right: 1px solid #d3d7d8; padding: 20px 0 23px 28px; }

main .use-info-wrap .user-info .item span, main .use-info-wrap .user-info .item strong { display: block; }

main .use-info-wrap .user-info .item span { font-size: 15px; font-weight: bold; color: #334059; }

main .use-info-wrap .user-info .item strong { font-size: 20px; font-weight: normal; color: #000; margin-top: 20px; }

main .use-info-wrap .user-info .item button { width: 150px; height: 32px; font-size: 14px; font-weight: bold; text-align: center; color: #fff; line-height: 32px; border-radius: 5px; background-color: #757d8e; margin-top: 10px; }

main .use-info-wrap .feedback, main .use-info-wrap .context-summary { padding: 20px 40px 30px; }

main .use-info-wrap .feedback h2, main .use-info-wrap .context-summary h2 { font-size: 20px; color: #334059; margin-bottom: 20px; }

main .use-info-wrap .feedback .btn-group, main .use-info-wrap .context-summary .btn-group { display: flex; margin-bottom: 10px; }

main .use-info-wrap .feedback .btn-group button, main .use-info-wrap .context-summary .btn-group button { flex: 0px 1 1; height: 40px; line-height: 38px; font-size: 14px; font-weight: bold; letter-spacing: normal; text-align: center; color: #788091; border-radius: 5px; border: solid 1px #dde0e6; background-color: #ebeef1; padding: 0; }

main .use-info-wrap .feedback .btn-group button.active, main .use-info-wrap .context-summary .btn-group button.active { border: solid 1px #f04f2a; background-color: #ff5d38; color: #fff; }

main .use-info-wrap .feedback .btn-group button:disabled, main .use-info-wrap .context-summary .btn-group button:disabled { border: solid 1px #c1c2c4; background-color: #c7c8ca; color: #fff; cursor: default; }

main .use-info-wrap .feedback .btn-group button + button, main .use-info-wrap .context-summary .btn-group button + button { margin-left: 10px; }

main .use-info-wrap .feedback { background-color: #f3f4f6; }

main .use-info-wrap .context-summary { background-color: #eceff1; padding-bottom: 43px; }

main .use-info-wrap .ui-tab { display: flex; flex-direction: column; background-color: #fbfcfc; }

main .use-info-wrap .ui-tab-nav { flex: 0px 0 0; font-size: 0; padding: 0 30px; background-color: #eceff1; }

main .use-info-wrap .ui-tab-nav button { display: inline-block; font-size: 20px; color: #7c8494; padding: 20px 26px; border-bottom: 2px solid #eceff1; }

main .use-info-wrap .ui-tab-nav button.active { font-size: 20px; font-weight: 700; color: #334059; border-color: #ff5934; }

main .use-info-wrap .ui-tab-content { height: 620px; overflow-y: scroll; padding: 10px 60px 30px; }

main .use-info-wrap .ui-tab-content::-webkit-scrollbar { width: 6px; }

main .use-info-wrap .ui-tab-content::-webkit-scrollbar-thumb { background-color: #c4c9ce; border-radius: 10px; background-clip: padding-box; }

main .use-info-wrap .ui-tab-content::-webkit-scrollbar-track { background-color: ebeef1; border-radius: 10px; }

main .use-info-wrap .ui-tab-content dl { margin: 0; }

main .use-info-wrap .ui-tab-content dl.generate dt { margin-left: -40px; }

main .use-info-wrap .ui-tab-content dl.generate dt:before { width: 40px; height: 40px; background-image: url(../images/icon-loading.gif); margin-right: 0; }

main .use-info-wrap .ui-tab-content dl.input-answer { margin-top: 20px; }

main .use-info-wrap .ui-tab-content dl.input-answer dd { display: flex; align-items: center; height: 50px; border-radius: 5px; border: solid 2px #e1e1e1; background-color: #fff; padding: 0 20px; }

main .use-info-wrap .ui-tab-content dl.input-answer dd textarea { display: block; border: none; height: 100%; flex: 0px 1 1; -webkit-appearance: none !important; -moz-appearance: none !important; appearance: none !important; resize: none; }

main .use-info-wrap .ui-tab-content dl.input-answer dd textarea:focus { border: none; outline: none; }

main .use-info-wrap .ui-tab-content dl.input-answer dd .btn-send { display: block; flex: 20px 0 0; width: 20px; height: 20px; text-indent: -9999px; overflow: hidden; background: url(../images/icon-send.png) 0 0 no-repeat; }

main .use-info-wrap .ui-tab-content dl.question { margin-top: 20px; }

main .use-info-wrap .ui-tab-content dl.question dd { font-size: 16px; color: #000; border-radius: 5px; background-color: #f6eeec; }

main .use-info-wrap .ui-tab-content dl dt { display: flex; align-items: center; position: relative; font-size: 15px; font-weight: 700; color: #7c8494; margin-left: -29px; padding-bottom: 14px; padding-top: 22px; }

main .use-info-wrap .ui-tab-content dl dt:before { content: ''; display: block; width: 20px; height: 20px; background: url(../images/icon-check.png) 0 0 no-repeat; margin-right: 9px; }

main .use-info-wrap .ui-tab-content dl dd { display: flex; border-radius: 5px; background-color: #ebeef1; margin: 0; padding: 20px; }

main .use-info-wrap .ui-tab-content dl dd + dd { margin-top: 20px; }

main .use-info-wrap .ui-tab-content dl dd p { font-size: 16px; line-height: 1.63; color: #000; }

main .use-info-wrap .ui-tab-content dl dd a { flex: 0px 1 1; height: 40px; line-height: 38px; font-size: 14px; font-weight: 700; text-align: center; color: #fff; border-radius: 5px; border: solid 1px #9ba1a8; background-color: #a5adb4; text-decoration: none; }

main .use-info-wrap .ui-tab-content dl dd a + a { margin-left: 10px; }

/*# sourceMappingURL=default.css.map */