@charset "utf-8";

// 툴팁
// 툴팁
.tooltip {
    position: relative;
    z-index: 110;

    .tooltip-content {
        display: none;
        background-color: var(--white-100);
        @include posa_tl();
        border-color: 1px solid var(--main-100);

        &:before {
            @include ct;
        }
    }
}

.ui-tooltip {
    position: relative;
    z-index: 110;
    padding: 0;
    max-width: none;
    border: none;
    &:hover {
        .ui-tooltip-content {
            display: block;
        }
    }
    &-wrap {
        display: inline-block;
        position: relative;
    }

    i {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: relative;
        z-index: 2;
    }

    &-content {
        display: none;
        background-color: var(--white-100);
        @include posa_tl();
        border-color: 1px solid var(--main-100);

        &:before {
            @include ct;
        }
    }
}


.ui-tooltip {
    &.sample {
        display: inline-block;
        vertical-align: middle;
        position: static;
        cursor: default;
        i {
            height: 16px;
            font-size: 12px;
            color: #000;
            font-weight: 400;
            font-style: normal;
            &:before {
                @include ct;
                width: 16px;
                height: 16px;
                background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_415_800)'%3E%3Cpath d='M8 16C10.1217 16 12.1566 15.1571 13.6569 13.6569C15.1571 12.1566 16 10.1217 16 8C16 5.87827 15.1571 3.84344 13.6569 2.34315C12.1566 0.842855 10.1217 0 8 0C5.87827 0 3.84344 0.842855 2.34315 2.34315C0.842855 3.84344 0 5.87827 0 8C0 10.1217 0.842855 12.1566 2.34315 13.6569C3.84344 15.1571 5.87827 16 8 16ZM8 4C8.41563 4 8.75 4.33437 8.75 4.75V8.25C8.75 8.66563 8.41563 9 8 9C7.58437 9 7.25 8.66563 7.25 8.25V4.75C7.25 4.33437 7.58437 4 8 4ZM7 11C7 10.7348 7.10536 10.4804 7.29289 10.2929C7.48043 10.1054 7.73478 10 8 10C8.26522 10 8.51957 10.1054 8.70711 10.2929C8.89464 10.4804 9 10.7348 9 11C9 11.2652 8.89464 11.5196 8.70711 11.7071C8.51957 11.8946 8.26522 12 8 12C7.73478 12 7.48043 11.8946 7.29289 11.7071C7.10536 11.5196 7 11.2652 7 11Z' fill='%230077B6'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_415_800'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
                background-repeat: no-repeat;
                background-position: 0 0;
                margin-right: 8px;
            }
    
            &:after {
                content: '';
                display: none;
                width: 12px;
                height: 8px;
                background-image: url("data:image/svg+xml,%3Csvg width='12' height='9' viewBox='0 0 12 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.0032 7.56494H1.06135L6.03228 0.901164L11.0032 7.56494Z' fill='white' stroke='%230077B6'/%3E%3Crect y='7' width='11.9354' height='1' fill='white'/%3E%3C/svg%3E%0A");
                background-repeat: no-repeat;
                background-position: 0 0;
                @include posa-bl(-10px, 2px);
            }
        }
        .ui-tooltip-content {
            top: 26px;
            left: 0;
            width: 280px;
            border: 1px solid #437DDB;
            padding: 14px 20px;
            z-index: 1;    
            p {
                font-size: 11px;
                color: #000;
                letter-spacing: -0.025em;
                line-height: 14px;
                word-break: keep-all;
            }
        }
        &:hover {
            i {
                &:after {
                    display: block;
                }
            }
        }
    }
}

.ui-tooltip {
    &.sample2 {
        display: inline-block;
        vertical-align: middle;
        position: static;
        cursor: default;
        i {
            height: 16px;
            width: 16px;
            &:before {
                @include ct;
                width: 16px;
                height: 16px;
                background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_415_800)'%3E%3Cpath d='M8 16C10.1217 16 12.1566 15.1571 13.6569 13.6569C15.1571 12.1566 16 10.1217 16 8C16 5.87827 15.1571 3.84344 13.6569 2.34315C12.1566 0.842855 10.1217 0 8 0C5.87827 0 3.84344 0.842855 2.34315 2.34315C0.842855 3.84344 0 5.87827 0 8C0 10.1217 0.842855 12.1566 2.34315 13.6569C3.84344 15.1571 5.87827 16 8 16ZM8 4C8.41563 4 8.75 4.33437 8.75 4.75V8.25C8.75 8.66563 8.41563 9 8 9C7.58437 9 7.25 8.66563 7.25 8.25V4.75C7.25 4.33437 7.58437 4 8 4ZM7 11C7 10.7348 7.10536 10.4804 7.29289 10.2929C7.48043 10.1054 7.73478 10 8 10C8.26522 10 8.51957 10.1054 8.70711 10.2929C8.89464 10.4804 9 10.7348 9 11C9 11.2652 8.89464 11.5196 8.70711 11.7071C8.51957 11.8946 8.26522 12 8 12C7.73478 12 7.48043 11.8946 7.29289 11.7071C7.10536 11.5196 7 11.2652 7 11Z' fill='%230077B6'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_415_800'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
                background-repeat: no-repeat;
                background-position: 0 0;
                @include posa-tl;
            }
    
            &:after {
                content: '';
                display: none;
                width: 12px;
                height: 8px;
                background-image: url("data:image/svg+xml,%3Csvg width='12' height='9' viewBox='0 0 12 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.0032 7.56494H1.06135L6.03228 0.901164L11.0032 7.56494Z' fill='white' stroke='%230077B6'/%3E%3Crect y='7' width='11.9354' height='1' fill='white'/%3E%3C/svg%3E%0A");
                background-repeat: no-repeat;
                background-position: 0 0;
                @include posa-bl(-10px, 2px);
            }
        }
        .ui-tooltip-content {
            top: 26px;
            left: 0;
            width: 280px;
            border: 1px solid #437DDB;
            padding: 14px 20px;
            font-family: "Apple SD Gothic Neo", "Malgun Gothic", "Source Sans Pro", Verdana, Arial, sans-serif;
            z-index: 1;
    
            &.ex {
                width: 300px;
            }
    
            strong {
                display: block;
                font-size: 12px;
                letter-spacing: -0.025em;
                color: #0077b6;
                font-weight: 700;
                margin-bottom: 5px;
    
                em {
                    display: inline-block;
                    width: 90px;
                    height: 22px;
                    @include spr-voucher(-800px);
                    @include ti;
                    vertical-align: middle;
                    margin-right: 7px;
                }
            }
    
            p {
                font-size: 11px;
                color: #000;
                letter-spacing: -0.025em;
                line-height: 14px;
                word-break: keep-all;
    
                &+p {
                    margin-top: 7px;
                }
            }
        }
    
        &:hover {
            i {
                &:after {
                    display: block;
                }
            }
    
            .ui-tooltip-content {
                display: block;
            }
        }
    }
}