@font-face {
  font-family: 'Moebius';
  font-weight: 400;
  src: url("../fonts/MoebiusKorea/Moebius_Regular_kor.eot"), url("../fonts/MoebiusKorea/Moebius_Regular_eng.eot");
  src: local("Moebius"), url("../fonts/MoebiusKorea/Moebius_Regular_kor.woff") format("woff"), url("../fonts/MoebiusKorea/Moebius_Regular_eng.woff") format("woff"), url("../fonts/MoebiusKorea/Moebius_Regular_kor.ttf") format("truetype"), url("../fonts/MoebiusKorea/Moebius_Regular_eng.ttf") format("truetype"); }

@font-face {
  font-family: 'Moebius';
  font-weight: 700;
  src: url("../fonts/MoebiusKorea/Moebius_Bold_kor.eot"), url("../fonts/MoebiusKorea/Moebius_Bold_eng.eot");
  src: local("Moebius"), url("../fonts/MoebiusKorea/Moebius_Bold_kor.woff") format("woff"), url("../fonts/MoebiusKorea/Moebius_Bold_eng.woff") format("woff"), url("../fonts/MoebiusKorea/Moebius_Bold_kor.ttf") format("truetype"), url("../fonts/MoebiusKorea/Moebius_Bold_eng.ttf") format("truetype"); }

html, body {
  width: 100%;
  height: 100%; }

body {
  min-width: 1440px; }

* {
  padding: 0;
  margin: 0;
  font-family: "Moebius";
  text-decoration: none;
  box-sizing: border-box; }

a, button {
  background: none;
  border: none;
  cursor: pointer; }

.ui-label {
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  font-style: normal; }
  .ui-label.type-a, .ui-label.type-b {
    width: 20px;
    height: 20px;
    font-size: 14px;
    color: #fff;
    line-height: 20px;
    border-radius: 5px;
    margin-right: 10px;
    padding-top: 1px; }
  .ui-label.type-a {
    background-color: #8067dc; }
  .ui-label.type-b {
    background-color: #67b7dc; }

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 1440px;
  height: 88px;
  background-color: #fff;
  border-bottom: 2px solid #3617ce;
  padding-left: 20px;
  z-index: 1; }
  header h1 {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    text-indent: -9999px;
    overflow: hidden;
    margin-right: 34px; }
    header h1:before {
      content: '';
      display: block;
      width: 28px;
      height: 22px;
      background: url(../images/bi.png) 0 0 no-repeat;
      margin-right: 9px;
      margin-top: -10px; }
    header h1:after {
      content: '';
      display: block;
      width: 312px;
      height: 20px;
      background: url(../images/analytics-and-targeting-suite-3-0.png) 0 0 no-repeat; }
  header .left {
    display: flex;
    align-items: center; }
    header .left nav {
      display: flex;
      align-items: center;
      flex-shrink: 0; }
      header .left nav a, header .left nav button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 13px;
        color: #999;
        font-weight: 400;
        font-family: "Moebius"; }
        header .left nav a + a, header .left nav a button, header .left nav button + a, header .left nav button button {
          margin-left: 10px; }
          header .left nav a + a:before, header .left nav a button:before, header .left nav button + a:before, header .left nav button button:before {
            content: '';
            display: block;
            width: 1px;
            height: 10px;
            background-color: #E1E1E1;
            margin-right: 10px; }
        header .left nav a:hover, header .left nav a.active, header .left nav button:hover, header .left nav button.active {
          color: #6b54dd; }
    header .left .header-search {
      display: flex;
      align-items: center;
      width: 450px;
      height: 40px;
      border-radius: 20px;
      border: solid 2px #d9d7e2;
      background-color: #fff;
      margin-left: 36px;
      overflow: hidden;
      padding: 0 20px; }
      header .left .header-search:before {
        content: '';
        display: block;
        width: 17px;
        height: 17px;
        background: url(../images/icon-header-search.png.png) 0 0 no-repeat;
        margin-right: 16px; }
      header .left .header-search input {
        display: block;
        width: 100%;
        height: 100%;
        border: none;
        font-size: 12px; }
        header .left .header-search input::placeholder {
          color: #b9b7c1; }
  header .right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%; }
    header .right .service-select {
      position: relative; }
      header .right .service-select:hover .service-select-list, header .right .service-select.active .service-select-list {
        display: block; }
      header .right .service-select > button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 120px;
        height: 36px;
        line-height: 36px;
        font-size: 14px;
        color: #999;
        text-align: center;
        border-radius: 4.6px;
        background-color: #f7f6ff; }
        header .right .service-select > button:after {
          content: '';
          display: block;
          border-color: transparent;
          border-width: 5px;
          border-style: solid;
          border-bottom-width: 2px;
          border-top: 8px solid #3617ce;
          margin-left: 7px; }
      header .right .service-select-list {
        display: none;
        width: 200px;
        position: absolute;
        top: 36px;
        right: 0;
        border-radius: 5px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
        background-color: #fff; }
        header .right .service-select-list a, header .right .service-select-list button {
          display: block;
          width: 100%;
          font-size: 12px;
          line-height: 2.5;
          color: #666;
          text-align: left;
          padding: 0 10px; }
          header .right .service-select-list a.top, header .right .service-select-list button.top {
            border-bottom: 1px solid #ddd; }
          header .right .service-select-list a.bottom, header .right .service-select-list button.bottom {
            border-top: 1px solid #ddd;
            color: #6b54dd; }
    header .right .max-reach {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      background-color: #f7f6ff;
      margin-left: 20px;
      padding: 20px; }
      header .right .max-reach strong {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        line-height: 15px;
        color: #3617ce;
        margin-bottom: 16px; }
        header .right .max-reach strong:before {
          content: '';
          display: block;
          width: 10px;
          height: 11px;
          background: url("/ats/images/icon-max-reach.png") 0 0 no-repeat;
          margin-right: 10px; }
      header .right .max-reach p {
        display: flex;
        align-items: center;
        justify-content: center; }
        header .right .max-reach p span, header .right .max-reach p em {
          display: flex;
          align-items: center;
          font-size: 16px;
          font-style: normal;
          line-height: 20px;
          color: #000; }
          header .right .max-reach p span + span, header .right .max-reach p span + em, header .right .max-reach p em + span, header .right .max-reach p em + em {
            margin-left: 16px; }

#container {
  display: flex;
  height: 100%;
  box-sizing: border-box;
  padding-top: 88px; }
  #container > aside {
    flex: 200px 0 0; }

#lnb {
  width: 200px;
  height: 100%;
  padding-bottom: 123px;
  overflow-y: auto;
  border-right: 1px solid #d8d8dc; }
  #lnb::-webkit-scrollbar {
    width: 6px; }
  #lnb::-webkit-scrollbar-thumb {
    background-color: #c4c9ce;
    border-radius: 10px;
    background-clip: padding-box; }
  #lnb::-webkit-scrollbar-track {
    background-color: ebeef1;
    border-radius: 10px; }
  #lnb .lnb-all-filter {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    text-align: left;
    border-bottom: 1px solid #ECECEC;
    padding-left: 20px;
    color: #000;
    background-color: #f8f8f8; }
    #lnb .lnb-all-filter:before {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      margin-right: 10px;
      background-color: #000;
      border: 1px solid #000;
      border-radius: 50%; }
    #lnb .lnb-all-filter:hover, #lnb .lnb-all-filter.active {
      color: #3617ce;
      background-color: #f7f6ff; }
  #lnb .lnb-depth1 > a, #lnb .lnb-depth1 > button {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    text-align: left;
    border-bottom: 1px solid #ECECEC;
    padding-left: 20px;
    position: relative; }
    #lnb .lnb-depth1 > a:before, #lnb .lnb-depth1 > button:before {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      margin-right: 10px;
      background-color: #000;
      border: 1px solid #000;
      border-radius: 50%; }
    #lnb .lnb-depth1 > a.has-submenu:after, #lnb .lnb-depth1 > button.has-submenu:after {
      content: '';
      display: block;
      width: 13px;
      height: 8px;
      background-image: url("/ats/images/icon-lnb-submenu.png");
      background-repeat: no-repeat;
      background-position: 0 0;
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%); }
    #lnb .lnb-depth1 > a:hover, #lnb .lnb-depth1 > a.active, #lnb .lnb-depth1 > button:hover, #lnb .lnb-depth1 > button.active {
      color: #3617ce;
      background-color: #f7f6ff; }
  #lnb .lnb-depth2 {
    position: static; }
    #lnb .lnb-depth2 > a, #lnb .lnb-depth2 > button {
      display: flex;
      align-items: center;
      width: 100%;
      text-align: left;
      font-size: 14px;
      line-height: 40px;
      color: #666;
      padding-left: 20px; }
      #lnb .lnb-depth2 > a:before, #lnb .lnb-depth2 > button:before {
        content: '';
        display: block;
        width: 6px;
        height: 6px;
        border: 1px solid #D0D0D0;
        border-radius: 50%;
        background-color: #fff;
        box-sizing: border-box;
        margin-right: 16px; }
      #lnb .lnb-depth2 > a:hover, #lnb .lnb-depth2 > a.active, #lnb .lnb-depth2 > button:hover, #lnb .lnb-depth2 > button.active {
        color: #3617ce; }
        #lnb .lnb-depth2 > a:hover:before, #lnb .lnb-depth2 > a.active:before, #lnb .lnb-depth2 > button:hover:before, #lnb .lnb-depth2 > button.active:before {
          background-color: #3617ce;
          border-color: #3617ce; }
        #lnb .lnb-depth2 > a:hover + .lnb-depth3, #lnb .lnb-depth2 > a.active + .lnb-depth3, #lnb .lnb-depth2 > button:hover + .lnb-depth3, #lnb .lnb-depth2 > button.active + .lnb-depth3 {
          display: table; }
  #lnb .lnb-depth3 {
    display: none;
    position: absolute;
    top: 0;
    left: 180px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 0 1px #ccc, 0 0 0 2px #b6a9f5, 0px 1px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1; }
    #lnb .lnb-depth3:before {
      content: '';
      display: block;
      width: 20px;
      height: 23px;
      position: absolute;
      top: 14px;
      left: -20px;
      background-image: url("data:image/svg+xml,%3Csvg width='33' height='34' viewBox='0 0 33 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_25_10)'%3E%3Cpath d='M11 16L24 9V23L11 16Z' fill='white'/%3E%3Cpath d='M10.763 15.5598L9.94537 16L10.763 16.4402L23.7629 23.4402L24.5 23.8371V23V9V8.16289L23.7629 8.55976L10.763 15.5598Z' stroke='%23B6A9F5'/%3E%3C/g%3E%3Crect x='23' y='7' width='7' height='18' fill='white'/%3E%3Cdefs%3E%3Cfilter id='filter0_d_25_10' x='0.890747' y='0.325806' width='32.1093' height='33.3484' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='1'/%3E%3CfeGaussianBlur stdDeviation='4'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_25_10'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_25_10' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
      background-position: right -10px bottom 50%;
      background-repeat: no-repeat; }
    #lnb .lnb-depth3 > div {
      display: table-cell; }
      #lnb .lnb-depth3 > div + div {
        border-left: 1px solid #d1c7ff; }
      #lnb .lnb-depth3 > div a, #lnb .lnb-depth3 > div button {
        display: block;
        width: 180px;
        font-size: 13px;
        line-height: 2.69;
        text-align: left;
        color: #666;
        padding-left: 20px; }
        #lnb .lnb-depth3 > div a:hover, #lnb .lnb-depth3 > div button:hover {
          color: #6b54dd;
          background-color: #f7f6ff; }
  #lnb .aside-info {
    padding: 20px 0 20px 20px; }
    #lnb .aside-info p {
      font-size: 12px;
      line-height: 17px;
      text-align: left;
      color: #888; }
      #lnb .aside-info p:first-child {
        margin-bottom: 4px; }
      #lnb .aside-info p span, #lnb .aside-info p em {
        display: inline;
        color: #9284d8; }
      #lnb .aside-info p em {
        display: block;
        font-size: 11px;
        font-style: normal; }
    #lnb .aside-info .reference-date {
      margin: 10px 0; }
    #lnb .aside-info-tooltip {
      margin-left: 4px; }
      #lnb .aside-info-tooltip-wrap {
        display: flex;
        align-items: center; }
        #lnb .aside-info-tooltip-wrap:hover .aside-info-tooltip-content, #lnb .aside-info-tooltip-wrap.active .aside-info-tooltip-content {
          display: block; }
        #lnb .aside-info-tooltip-wrap p {
          margin-bottom: 0 !important; }
      #lnb .aside-info-tooltip-content {
        display: none;
        position: absolute;
        bottom: 50px;
        left: 120px;
        border-radius: 5px;
        border: solid 1px #ccc;
        background-color: rgba(68, 70, 74, 0.9);
        padding: 11px 20px; }
        #lnb .aside-info-tooltip-content dt, #lnb .aside-info-tooltip-content dd {
          display: flex;
          align-items: center;
          white-space: nowrap;
          color: #fff;
          font-size: 12px;
          line-height: 24px; }
          #lnb .aside-info-tooltip-content dt:before, #lnb .aside-info-tooltip-content dd:before {
            content: '';
            display: block;
            margin-right: 9px; }
        #lnb .aside-info-tooltip-content dt:before {
          width: 9px;
          height: 9px;
          background: url(/ats/images/icon-aside-tooltip-dt.png) 0 0 no-repeat; }
        #lnb .aside-info-tooltip-content dd {
          padding-left: 2px; }
          #lnb .aside-info-tooltip-content dd:before {
            width: 4px;
            height: 4px;
            background-color: #999;
            border-radius: 50%;
            margin-right: 12px; }
      #lnb .aside-info-tooltip i {
        display: block;
        width: 13px;
        height: 13px;
        background: url(/ats/images/icon-aside-tooltip.png) 0 0 no-repeat; }

.ui-popup {
  display: flex;
  flex-direction: column;
  width: 1090px;
  height: 700px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff; }
  .ui-popup > div {
    flex: auto 0 0; }
  .ui-popup-header {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px; }
    .ui-popup-header button {
      display: block;
      width: 15px;
      height: 14px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='14'%3E%3Cpath fill-rule='evenodd' fill='%2321293B' d='m9.2 7.003 4.526 4.526a1.201 1.201 0 0 1-1.697 1.697L7.503 8.7l-4.525 4.526a1.201 1.201 0 0 1-1.697-1.697l4.525-4.526-4.525-4.525A1.2 1.2 0 1 1 2.978.781l4.525 4.525L12.029.781a1.2 1.2 0 1 1 1.697 1.697L9.2 7.003z'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: 0 0;
      background-color: transparent;
      border: none;
      text-indent: -9999px;
      overflow: hidden; }
  .ui-popup-contract-text {
    padding: 0 40px;
    height: 360px;
    white-space: pre-line;
    font-size: 14px;
    line-height: 200%;
    overflow-y: auto;
    overflow-x: hidden; }
    .ui-popup-contract-text::-webkit-scrollbar {
      width: 6px; }
    .ui-popup-contract-text::-webkit-scrollbar-thumb {
      background-color: #c4c9ce;
      border-radius: 10px;
      background-clip: padding-box; }
    .ui-popup-contract-text::-webkit-scrollbar-track {
      background-color: ebeef1;
      border-radius: 10px; }
  .ui-popup-contract-sign {
    height: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 23px; }
    .ui-popup-contract-sign input {
      height: 20px;
      line-height: 18px;
      font-size: 15px;
      color: #1a2236;
      padding: 2px 7px 3px 5px;
      border: solid 1px #c9c9c9;
      background-color: #e6e6e6; }
      .ui-popup-contract-sign input.input-date {
        width: 120px;
        margin-bottom: 30px; }
    .ui-popup-contract-sign > input {
      display: block; }
    .ui-popup-contract-sign-wrap {
      display: flex;
      width: 610px; }
      .ui-popup-contract-sign-wrap > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%; }
        .ui-popup-contract-sign-wrap > div p {
          font-size: 15px;
          line-height: 2.13;
          color: #1a2236; }
        .ui-popup-contract-sign-wrap > div input {
          display: block;
          text-align: center; }
          .ui-popup-contract-sign-wrap > div input + input {
            margin-top: 3px; }
        .ui-popup-contract-sign-wrap > div .ceo {
          display: flex;
          justify-content: center;
          align-items: center; }
          .ui-popup-contract-sign-wrap > div .ceo span, .ui-popup-contract-sign-wrap > div .ceo strong {
            display: block;
            font-size: 15px;
            line-height: 1.87;
            color: #1a2236;
            font-weight: 400; }
          .ui-popup-contract-sign-wrap > div .ceo strong, .ui-popup-contract-sign-wrap > div .ceo input {
            margin: 0 20px 0 38px; }
  .ui-popup-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px; }
    .ui-popup-footer a, .ui-popup-footer button {
      width: 100px;
      height: 40px;
      line-height: 40px;
      font-size: 16px;
      text-align: center;
      color: #e0e4ef;
      border-radius: 10px;
      background-color: #384155;
      border: none; }
      .ui-popup-footer a:first-child, .ui-popup-footer button:first-child {
        background-color: #6d7586;
        margin-right: 10px; }

/*# sourceMappingURL=default.css.map */