@charset "utf-8";

@import 'abstracts/_var.scss';
@import 'abstracts/_mixin.scss';

// font
@font-face {
    font-family: 'Moebius';
    font-weight: 400;
    src: url('../fonts/MoebiusKorea/Moebius_Regular_kor.eot'),
    url('../fonts/MoebiusKorea/Moebius_Regular_eng.eot'),;
    src: local('Moebius'),
    url('../fonts/MoebiusKorea/Moebius_Regular_kor.woff') format('woff'),
    url('../fonts/MoebiusKorea/Moebius_Regular_eng.woff') format('woff'),
    url('../fonts/MoebiusKorea/Moebius_Regular_kor.ttf') format('truetype'),
    url('../fonts/MoebiusKorea/Moebius_Regular_eng.ttf') format('truetype');
}
@font-face {
    font-family: 'Moebius';
    font-weight: 700;
    src: url('../fonts/MoebiusKorea/Moebius_Bold_kor.eot'),
    url('../fonts/MoebiusKorea/Moebius_Bold_eng.eot'),;
    src: local('Moebius'),
    url('../fonts/MoebiusKorea/Moebius_Bold_kor.woff') format('woff'),
    url('../fonts/MoebiusKorea/Moebius_Bold_eng.woff') format('woff'),
    url('../fonts/MoebiusKorea/Moebius_Bold_kor.ttf') format('truetype'),
    url('../fonts/MoebiusKorea/Moebius_Bold_eng.ttf') format('truetype');
}

html, body {
    width: 100%;
    height: 100%;
}
body {
    min-width: 1440px;
}
* {
    padding: 0;
    margin: 0;
    font-family: $moe;
    text-decoration: none;
    box-sizing: border-box;
}
a, button {
    background: none;
    border: none;
    cursor: pointer;
}

// label
.ui-label {
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    font-style: normal;
    &.type-a, &.type-b {
        width: 20px;
        height: 20px;
        font-size: 14px;
        color: #fff;
        line-height: 20px;
        border-radius: 5px;
        margin-right: 10px;
        padding-top: 1px;
    }
    &.type-a {
        background-color: #8067dc;
    }
    &.type-b {
        background-color: #67b7dc;
    }
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 1440px;
    height: 88px;
    background-color: #fff;
    border-bottom: 2px solid #3617ce;
    padding-left: 20px;
    z-index: 1;
    h1 {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        @include ti;
        margin-right: 34px;
        &:before {
            @include ct;
            width: 28px;
            height: 22px;
            background: url(../images/bi.png) 0 0 no-repeat;
            margin-right: 9px;
            margin-top: -10px;
        }
        &:after {
            @include ct;
            width: 312px;
            height: 20px;
            background: url(../images/analytics-and-targeting-suite-3-0.png) 0 0 no-repeat;
        }
    }
    .left {
        display: flex;
        align-items: center;
        nav {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            a, button {
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 13px;
                color: #999;
                font-weight: 400;
                font-family: $moe;
                & + a, button {
                    margin-left: 10px;
                    &:before {
                        @include ct;
                        width: 1px;
                        height: 10px;
                        background-color: #E1E1E1;
                        margin-right: 10px;
                    }
                }
                &:hover, &.active {
                    color: #6b54dd;
                }
            }
        }
        .header-search {
            display: flex;
            align-items: center;
            width: 450px;
            height: 40px;
            border-radius: 20px;
            border: solid 2px #d9d7e2;
            background-color: #fff;
            margin-left: 36px;
            overflow: hidden;
            padding: 0 20px;
            &:before {
                @include ct;
                width: 17px;
                height: 17px;
                background: url(../images/icon-header-search.png.png) 0 0 no-repeat;
                margin-right: 16px;
            }
            input {
                display: block;
                width: 100%;
                height: 100%;
                border: none;
                font-size: 12px;
                @include placeholder(#b9b7c1);
            }
        }
    }
    .right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 100%;
        .service-select {
            position: relative;
            &:hover, &.active {
                .service-select-list {
                    display: block;
                }
            }
            > button {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 120px;
                height: 36px;
                line-height: 36px;
                font-size: 14px;
                color: #999;
                text-align: center;
                border-radius: 4.6px;
                background-color: #f7f6ff;
                &:after {
                    @include ct;
                    border-color: transparent;
                    border-width: 5px;
                    border-style: solid;
                    border-bottom-width: 2px;
                    border-top: 8px solid #3617ce;
                    margin-left: 7px;
                }
            }
            &-list {
                display: none;
                width: 200px;
                @include posa-tr(36px);
                border-radius: 5px;
                box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
                background-color: #fff;
                a, button {
                    display: block;
                    width: 100%;
                    font-size: 12px;
                    line-height: 2.5;
                    color: #666;
                    text-align: left;
                    padding: 0 10px;
                    &.top {
                        border-bottom: 1px solid #ddd;
                    }
                    &.bottom {
                        border-top: 1px solid #ddd;
                        color: #6b54dd;
                    }
                }
            }
        }
        .max-reach {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            background-color: #f7f6ff;
            margin-left: 20px;
            padding: 20px;
            strong {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 15px;
                line-height: 15px;
                color: #3617ce;
                margin-bottom: 16px;
                &:before {
                    @include  ct;
                    width: 10px;
                    height: 11px;
                    background: url('/ats/images/icon-max-reach.png') 0 0 no-repeat;
                    margin-right: 10px;
                }
            }
            p {
                display: flex;
                align-items: center;
                justify-content: center;
                span, em {
                    display: flex;
                    align-items: center;
                    font-size: 16px;
                    font-style: normal;
                    line-height: 20px;
                    color: #000;
                    & + span, & + em {
                        margin-left: 16px;
                    } 
                }
            }
        }
    }
    
}

// .icon {
//     &-plus {
//         &:before {
//             @include ct;
//             width: 12px;
//             height: 2px;
//             background-color: #bbb;
//         }
//         &:after {

//         }
//     }
// }

#container {
    display: flex;
    height: 100%;
    box-sizing: border-box;
    padding-top: 88px;
    > aside {
        flex: 200px 0 0;
    }
    > main {}
}
#lnb {
    width: 200px;
    height: 100%;
    @include customscrollbar;
    overflow-y: auto;
    border-right: 1px solid #d8d8dc;
    @mixin lnb-btn {
        display: flex;
        align-items: center;
        width: 100%;
        height: 50px;
        line-height: 50px;
        font-size: 14px;
        text-align: left;
        border-bottom: 1px solid #ECECEC;
        padding-left: 20px;
        &:before {
            @include ct;
            width: 20px;
            height: 20px;
            margin-right: 10px;
            background-color: #000;
            border: 1px solid #000;
            border-radius: 50%;
        }
    }
    .lnb {
        &-all-filter {
            @include lnb-btn;
            color: #000;
            background-color: #f8f8f8;
            &:hover, &.active {
                color: #3617ce;
                background-color: #f7f6ff;
            }
        }
        &-depth {
            &1 {
                > a, > button {
                    @include lnb-btn;
                    position: relative;
                    &.has-submenu {
                        &:after {
                            @include ct;
                            width: 13px;
                            height: 8px;
                            background-image: url('/ats/images/icon-lnb-submenu.png');
                            background-repeat: no-repeat;
                            background-position: 0 0;
                            @include posa-tr(50%, 20px);
                            transform: translateY(-50%);
                        }
                        &.active {
                            & ~ .lnb-depth2 {
                                display: block;
                            }
                        }
                        & ~ .lnb-depth2 {
                            display: none;
                        }
                    }
                    &:hover, &.active {
                        color: #3617ce;
                        background-color: #f7f6ff;
                    }
                }
            }
            &2 {
                position: static;
                > a, > button {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    text-align: left;
                    font-size: 14px;
                    line-height: 40px;
                    color: #666;
                    padding-left: 20px;
                    &:before {
                        @include ct;
                        width: 6px;
                        height: 6px;
                        border: 1px solid #D0D0D0;
                        border-radius: 50%;
                        background-color: #fff;
                        box-sizing: border-box;
                        margin-right: 16px;
                    }
                    &:hover, &.active {
                        color: #3617ce;
                        &:before {
                            background-color: #3617ce;
                            border-color: #3617ce;
                        }
                        
                    }
                }
            }
            &3 { 
                display: none;
                @include posa-tl(0, 180px);
                background-color: #fff;
                border-radius: 5px;
                box-shadow: 0 0 0 1px #ccc, 0 0 0 2px #b6a9f5, 0px 1px 8px 0 rgba(0, 0, 0, 0.2);
                z-index: 1;
                &:before {
                    @include ct;
                    width: 20px;
                    height: 23px;
                    @include posa-tl(14px, -20px);
                    background-image: url("data:image/svg+xml,%3Csvg width='33' height='34' viewBox='0 0 33 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_25_10)'%3E%3Cpath d='M11 16L24 9V23L11 16Z' fill='white'/%3E%3Cpath d='M10.763 15.5598L9.94537 16L10.763 16.4402L23.7629 23.4402L24.5 23.8371V23V9V8.16289L23.7629 8.55976L10.763 15.5598Z' stroke='%23B6A9F5'/%3E%3C/g%3E%3Crect x='23' y='7' width='7' height='18' fill='white'/%3E%3Cdefs%3E%3Cfilter id='filter0_d_25_10' x='0.890747' y='0.325806' width='32.1093' height='33.3484' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='1'/%3E%3CfeGaussianBlur stdDeviation='4'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_25_10'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_25_10' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
                    background-position: right -10px bottom 50%;
                    background-repeat: no-repeat;
                }
                > div {
                    display: table-cell;
                    & + div {
                        border-left: 1px solid #d1c7ff;
                    }
                    a, button {
                        display: block;
                        width: 180px;
                        font-size: 13px;
                        line-height: 2.69;
                        text-align: left;
                        color: #666;
                        padding-left: 20px;
                        &:hover {
                            color: #6b54dd;
                            background-color: #f7f6ff;
                        }
                    }
                }
                &-opener {
                    > a, > button {
                        
                        &:hover, &.active {
                            & + .lnb-depth3 {
                                display: table;
                            }
                        }
                    }
                    &.align-bottom {
                        > a, > button {
                            & + .lnb-depth3 {
                                transform: translateY(-30%);
                                &:before {
                                    top: 40%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .aside-info {
        padding: 20px 0 20px 20px;
        p {
            font-size: 12px;
            line-height: 17px;
            text-align: left;
            color: #888;
            &:first-child {
                margin-bottom: 4px;
            }
            span, em {
                display: inline;
                color: #9284d8;
            }
            em {
                display: block;
                font-size: 11px;
                font-style: normal;
            }
        }
        .reference-date {
            margin: 10px 0;
        }
        &-tooltip {
            margin-left: 4px;
            &-wrap {
                display: flex;
                align-items: center;
                &:hover, &.active {
                    .aside-info-tooltip-content {
                        display: block;
                    }
                }
                p {
                    margin-bottom: 0 !important;
                }
            }
            &-content {
                display: none;
                position: absolute;
                left: 120px;
                border-radius: 5px;
                border: solid 1px #ccc;
                background-color: rgba(68, 70, 74, .9);
                padding: 11px 20px;
                dt, dd {
                    display: flex;
                    align-items: center;
                    white-space: nowrap;
                    color: #fff;
                    font-size: 12px;
                    line-height: 24px;
                    &:before {
                        @include ct;
                        margin-right: 9px;
                    }
                }
                dt {
                    &:before {
                        width: 9px;
                        height: 9px;
                        background: url(/ats/images/icon-aside-tooltip-dt.png) 0 0 no-repeat;
                    }
                }
                dd {
                    padding-left: 2px;
                    &:before {
                        width: 4px;
                        height: 4px;
                        background-color: #999;
                        border-radius: 50%;
                        margin-right: 12px;
                    }
                }
            }
            i {
                display: block;
                width: 13px;
                height: 13px;
                background: url(/ats/images/icon-aside-tooltip.png) 0 0 no-repeat;
            }
        }
    }
}

.ui-popup {
    display: flex;
    flex-direction: column;
    width: 1090px;
    height: 700px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    > div {
        flex: auto 0 0;
    }
    &-header {
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 20px;
        button {
            display: block;
            width: 15px;
            height: 14px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='14'%3E%3Cpath fill-rule='evenodd' fill='%2321293B' d='m9.2 7.003 4.526 4.526a1.201 1.201 0 0 1-1.697 1.697L7.503 8.7l-4.525 4.526a1.201 1.201 0 0 1-1.697-1.697l4.525-4.526-4.525-4.525A1.2 1.2 0 1 1 2.978.781l4.525 4.525L12.029.781a1.2 1.2 0 1 1 1.697 1.697L9.2 7.003z'/%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-position: 0 0;
            background-color: transparent;
            border: none;
            @include ti;
        }
    }
    &-contract {
        &-text {
            padding: 0 40px;
            height: 360px;
            white-space: pre-line;
            font-size: 14px;
            line-height: 200%;
            overflow-y: auto;
            overflow-x: hidden;
            @include customscrollbar;
        }
        &-sign {
            height: 230px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 23px;
            input {
                height: 20px;
                line-height: 18px;
                font-size: 15px;
                color: #1a2236;
                padding: 2px 7px 3px 5px;
                border: solid 1px #c9c9c9;
                background-color: #e6e6e6;
                &.input-date {
                    width: 120px;
                    margin-bottom: 30px;
                }
            }
            > input {
                display: block;
            }
            &-wrap {
                display: flex;
                width: 610px;
                > div {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 50%;
                    p {
                        font-size: 15px;
                        line-height: 2.13;
                        color: #1a2236;
                    }
                    input {
                        display: block;
                        text-align: center;
                        & + input {
                            margin-top: 3px;
                        }
                    }
                    .ceo {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        span, strong {
                            display: block;
                            font-size: 15px;
                            line-height: 1.87;
                            color: #1a2236;
                            font-weight: 400;
                        }
                        strong, input {
                            margin: 0 20px 0 38px;
                        }
                    }
                }
            }
        }
    }
    &-footer {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 70px;
        a, button {
            width: 100px;
            height: 40px;
            line-height: 40px;
            font-size: 16px;
            text-align: center;
            color: #e0e4ef;
            border-radius: 10px;
            background-color: #384155;
            border: none;
            &:first-child {
                background-color: #6d7586;
                margin-right: 10px;
            }
        }
    }
}
