@charset 'utf-8';
@import
    '../../common/abstracts/mixin.scss',
	'../../common/abstracts/var.scss';

/* form */
input {
    appearance: none !important;
    border-radius: 0;
    background-color: #fff;
    border: none;
    &[type=text] {
        padding: 0 10px;
        height: 30px;
        font-family: $spoqa;
        font-size: 16px;
    }
    &[type=checkbox], &[type=radio] {
        display: inline-block;
        bottom: 0;
    }
}

select {
    appearance: none !important;
    border-radius: 0;
    background-color: #fff;
    border: none;
    height: 30px;
    font-family: $spoqa;
    font-size: 16px;
    padding: 0 10px;
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='7' viewBox='0 0 13 7' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg clip-path='url(%23clip0_3215_5344)'%3E%3Crect width='13' height='7' fill='url(%23pattern0)'/%3E%3C/g%3E%3Cdefs%3E%3Cpattern id='pattern0' patternContentUnits='objectBoundingBox' width='1' height='1'%3E%3Cuse xlink:href='%23image0_3215_5344' transform='scale(0.0769231 0.142857)'/%3E%3C/pattern%3E%3CclipPath id='clip0_3215_5344'%3E%3Crect width='13' height='7' fill='white'/%3E%3C/clipPath%3E%3Cimage id='image0_3215_5344' width='13' height='7' xlink:href='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAHCAQAAAB5eQ+RAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfmCR4PIhVwLPUUAAAAMUlEQVQI12O0/c+AAzAxMOKQYWRiYMAqycjAwARjoEvApFAlGWF2oQkgFDGhqUbSDQDwvwFWFxcRjgAAAABJRU5ErkJggg=='/%3E%3C/defs%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: right 5px center;
    &:focus-visible {
        outline: none;
    }
}

.check-input-wrap {
    display: inline-flex;
    align-items: center;
}
.check-input {
    width: 16px;
    height: 16px;
    &[type=checkbox], &[type=radio] {
        bottom: 0;
    }
    &[type=checkbox] {
        &:checked {
            background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 7.86449L3.30365 6.56084L6.21958 9.47678L12.6964 3L14 4.29904L6.21958 12.0841L2 7.86449Z' fill='%23E01C43'/%3E%3C/svg%3E%0A");
        }
    }
    &[type=radio] {
        border-radius: 50%;
        &:checked {
            background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 8C13 10.7614 10.7614 13 8 13C5.23858 13 3 10.7614 3 8C3 5.23858 5.23858 3 8 3C10.7614 3 13 5.23858 13 8Z' fill='%23E01C43'/%3E%3C/svg%3E%0A");
        }
    }
    & + label {
        color: #fff;
        font-family: $spoqa;
        font-size: 16px;
        line-height: 16px;
        display: inline-block;
        margin-left: 4px;
    }
}

.form-check-inline {
    display: flex;
    & + & {
        margin-left: 20px;
    }
}

.form-check-item {
    width: 16px;
    height: 16px;
    &[type=checkbox], &[type=radio] {
        bottom: 0;
        border: 1px solid #c2c2c2;
    }
    &[type=checkbox] {
        &:checked {
            border: none;
            background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='15' height='15' fill='white' stroke='%23C2C2C2'/%3E%3Cpath d='M2 7.86449L3.30365 6.56084L6.21958 9.47678L12.6964 3L14 4.29904L6.21958 12.0841L2 7.86449Z' fill='%230075FF'/%3E%3C/svg%3E%0A");
        }
    }
    &[type=radio] {
        border-radius: 50%;
        &:checked {
            border: 5px solid #0075FF;
        }
    }
    & + label {
        color: #333;
        font-family: $spoqa;
        font-size: 16px;
        line-height: 16px;
        display: inline-block;
        margin-left: 5px;
    }
}

#apply-content {
    * {
        box-sizing: border-box;
    }
    section {
        width: 100%;
        min-width: 1020px;
        .inner {
            width: 1020px;
        }
    }
    &.apply-teacher {
        section {
            img {
                display: block;
            }
            h2, h3, p, dl, ol, ul {
                display: none;
            }
        }
        .section {
            &1 {
                background: #c0e9ff url('/images/apply/bg-applyteacher.png') 50% 0 no-repeat;
                padding-top: 649px;
                padding-bottom: 92px;
            }
            &2 {
                background-color: #085895;
                h2 {
                    display: block;
                }
                table {
                    width: 100%;
                    table-layout: fixed;
                    border-collapse: collapse;
                    margin-bottom: 46px;
                    tr {
                        & + tr {
                            th, td {
                                border-top: 1px solid #5598cb;
                            }
                        }
                    }
                    th, td {
                        padding: 15px 20px;
                        height: 60px;
                        border: none;
                        text-align: left;
                        color: #fff;
                        font-size: 16px;
                        font-family: $spoqa;
                        font-weight: 400;
                    }
                    th {
                        background-color: #053961;
                        em {
                            display: block;
                            font-size: 15px;
                            color: #b6d6ea;
                        }
                    }
                    td {
                        background-color: #307cb6;
                    }
                }
                
                .check-input-wrap {
                    &.type1 {
                        & + .type1 {
                            margin-left: 50px;
                        }
                    }
                    &.type2 {
                        & + .type2 {
                            margin-left: 20px;
                        }
                    }
                    &.type3 {
                        & + .type3 {
                            margin-left: 40px;
                        }
                    }
                }
                .input-text-wrap {
                    display: flex;
                    align-items: center;
                    input[type=text] {
                        & + & {
                            margin-left: 10px;
                        }
                        & + span {
                            margin-left: 10px;
                            & + input[type=text], & + select {
                                margin-left: 10px;
                            }
                        }
                    }
                    select {
                        margin-left: 10px;
                        & + input[type=text] {
                            margin-left: 10px;
                        }
                    }
                }

                .dl-point {
                    display: flex;
                    align-items: center;
                    & + dl {
                        margin-top: 8px;
                    }
                    & + .input-text-wrap {
                        margin-top: 20px;
                        strong {
                            margin-right: 10px;
                            font-weight: 400;
                        }
                    }
                    dt {
                        padding-right: 20px;
                        margin-right: 17px;
                        span {
                            display: inline-block;
                            height: 30px;
                            line-height: 30px;
                            background-image: url("data:image/svg+xml,%3Csvg width='100' height='30' viewBox='0 0 100 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M98.9413 13.2297C86.3582 4.24492 86.2052 4.14974 83.3941 2.09391C81.4818 0.723347 81.1758 0 78.8619 0H2.50516C1.84075 0 1.20352 0.262723 0.733713 0.730374C0.263906 1.19803 1.52588e-05 1.83229 1.52588e-05 2.49365V27.4873C1.52588e-05 28.1537 0.739315 29.2641 0.739315 29.2641C0.739315 29.2641 1.85477 30 2.52424 30H79.6842C81.9981 30 82.3614 29.2576 84.2355 27.8871C86.1096 26.5165 87.3909 25.6218 98.9413 17.3604C99.2692 17.1239 99.536 16.8134 99.7201 16.4544C99.9041 16.0954 100 15.6981 100 15.295C100 14.892 99.9041 14.4947 99.7201 14.1357C99.536 13.7767 99.2692 13.4662 98.9413 13.2297Z' fill='black'/%3E%3C/svg%3E%0A");
                            background-position: 0 0;
                            background-repeat: no-repeat;
                            position: relative;
                            padding-left: 10px;
                            font-size: 16px;
                            &::after {
                                @include ct;
                                width: 20px;
                                height: 30px;
                                background-image: url("data:image/svg+xml,%3Csvg width='100' height='30' viewBox='0 0 100 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M98.9413 13.2297C86.3582 4.24492 86.2052 4.14974 83.3941 2.09391C81.4818 0.723347 81.1758 0 78.8619 0H2.50516C1.84075 0 1.20352 0.262723 0.733713 0.730374C0.263906 1.19803 1.52588e-05 1.83229 1.52588e-05 2.49365V27.4873C1.52588e-05 28.1537 0.739315 29.2641 0.739315 29.2641C0.739315 29.2641 1.85477 30 2.52424 30H79.6842C81.9981 30 82.3614 29.2576 84.2355 27.8871C86.1096 26.5165 87.3909 25.6218 98.9413 17.3604C99.2692 17.1239 99.536 16.8134 99.7201 16.4544C99.9041 16.0954 100 15.6981 100 15.295C100 14.892 99.9041 14.4947 99.7201 14.1357C99.536 13.7767 99.2692 13.4662 98.9413 13.2297Z' fill='black'/%3E%3C/svg%3E%0A");
                                background-position: right 0;
                                background-repeat: no-repeat;
                                @include posa-tr(0, -20px);
                            }
                        }
                    }
                    dd {
                    }
                }

                .select-school {
                    background-color: #0c6c9e;
                    margin-left: -20px;
                    margin-right: -20px;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    padding: 20px 0;
                    margin-top: 25px;
                    p {
                        display: block;
                        font-size: 16px;
                        margin-bottom: 15px;
                    }
                }
                .input-group {
                    display: flex;
                    align-items: center;
                    .btn-select-wrap {
                        background-color: #fff;
                        padding: 0 4px;
                        button {
                            height: 20px;
                            line-height: 20px;
                            font-size: 14px;
                            color: #fff;
                            background-color: #077cbf;
                            border-radius: 2px;
                            padding: 0 5px;
                        }
                    }
                    span {
                        margin-left: 5px;
                    }
                }
                .agreement {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: $spoqa;
                    margin-bottom: 30px;
                    button {
                        font-size: 16px;
                        color: #a0e5e7;
                        font-family: $spoqa;
                        margin-left: 15px;
                    }
                }
                .application-wrap {
                    display: flex;
                    justify-content: center;
                    padding-bottom: 110px;
                    button {
                        width: 334px;
                        height: 80px;
                        line-height: 80px;
                        font-family: $spoqa;
                        font-weight: 700;
                        color: #fff;
                        background-color: #000;
                        text-align: center;
                        border-radius: 80px;
                        font-size: 36px;
                    }
                }
            }
            &3 {
                background-color: #3c3c3c;
            }
        }
    }
    &.apply-teacher-done {
        padding-top: 70px;
        padding-bottom: 120px;
        font-family: $spoqa;
        color: #111;
        .inner {
            padding: 0 60px;
        }
        h2 {
            font-size: 50px;
            font-weight: 700;
            text-align: center;
            margin-bottom: 70px;
            span {
                color: #2d70e8;
            }
        }
        .section {
            &1 {
                .inner {
                    display: flex;
                    height: 222px;
                    div {
                        width: 540px;
                        &.bg {
                            background: url("/images/pc/apply/img-applyteacher-done.png") calc(100% - 26px) bottom no-repeat;
                        }
                    }
                }
                h3 {
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 140%;
                    margin-bottom: 32px;
                }
                p {
                    font-size: 16px;
                    line-height: 140%;
                    color: #333;
                    span {
                        display: block;
                        height: 6px;
                    }
                }
            }
            &2 {
                padding-bottom: 40px;
                dl {
                    background-color: #F0F6FE;
                    border: 1px solid #DAE4F0;
                    padding: 20px 36px;
                    dt {
                        font-size: 16px;
                        line-height: 20px;
                        margin-bottom: 16px;
                    }
                    dd {
                        font-size: 16px;
                        line-height: 150%;
                    }
                }
            }
            &3 {
                .inner {
                    p {
                        font-size: 16px;
                        color: #333;
                        line-height: 20px;
                        & + p {
                            margin-top: 20px;
                        }
                    }
                    .inner-btn {
                        display: flex;
                        align-items: center;
                        margin-bottom: 13px;
                        a {
                            background: #5C92F4;
                            border: 1px solid #467FE7;
                            border-radius: 30px;
                            padding: 7px 17px;
                            font-size: 15px;
                            font-weight: 500;
                            color: #fff;
                            letter-spacing: -0.03em;
                            margin-right: 10px;
                            span {
                                color: #fcff75;
                            }
                        }
                        p {
                            color: #214e9f;
                        }
                    }
                }
            }
        }
    }
    &.apply-teacher-additional {
        padding-top: 70px;
        padding-bottom: 120px;
        font-family: $spoqa;
        color: #343434;
        .inner {
        }
        h2 {
            font-size: 50px;
            font-weight: 700;
            text-align: center;
            margin-bottom: 34px;
            span {
                color: #2d70e8;
            }
        }
        .apply-teacher-btn {
            width: 80px;
            height: 37px;
            line-height: 37px;
            text-align: center;
            font-size: 16px;
            color: #fff;
            background-color: #396bc1;
            &.btn-done {
                background-color: #282E38;
            }
            &.btn-cancel {
                background-color: #9A9C9E;
            }
            &.btn-save {
                background-color: #282E38;
            }
        }
        div[class^="btn-wrap"] {
            display: flex;
            button {
                & + button {
                    margin-left: 10px;
                }
            }
        }
        & > .btn-wrap {
            justify-content: center;
            button {
                width: 150px;
                height: 54px;
                line-height: 54px;
                font-size: 20px;
                font-weight: 500;
            }
        }
        
        .section {
            &-title {
                padding-bottom: 6px;
                border-bottom: 2px solid #000;
                display: flex;
                justify-content: space-between;
                h3 {
                    font-size: 18px;
                    line-height: 140%;
                }
                .notice {
                    font-size: 14px;
                    color: #696969;
                    display: flex;
                    align-items: center;
                    &:before {
                        @include ct;
                        width: 16px;
                        height: 16px;
                        margin-right: 5px;
                        background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='8.85718' cy='8.17255' r='8' fill='%23888888'/%3E%3Crect x='7.96826' y='2.83923' width='1.77778' height='8' rx='0.888889' fill='white'/%3E%3Crect x='7.96826' y='11.7281' width='1.77778' height='1.77778' rx='0.888889' fill='white'/%3E%3C/svg%3E%0A");
                        background-size: 100%;
                    }
                }
            }
            &-content {
                table {
                    width: 100%;
                    table-layout: fixed;
                    border-collapse: collapse;
                    th, td {
                        font-size: 16px;
                        padding: 10px 20px;
                        border-bottom: 1px solid #C9C9C9;
                    }
                    th {
                        padding: 10px 20px;
                        text-align: left;
                        font-weight: 400;
                        background-color: #f9f9f9;
                        border-right: 1px solid #C9C9C9;
                    }
                    td {
                        .input-wrap {
                            display: flex;
                            align-items: center;
                            > em {
                                margin: 0 7px;
                                color: #666;
                            }
                            &.search-school {
                                margin-top: 10px;
                                > div {
                                    position: relative;
                                }
                                .btn-search-school {
                                    display: block;
                                    font-family: $malgun;
                                    font-size: 12px;
                                    line-height: 20px;
                                    height: 20px;
                                    color: #fff;
                                    padding: 0 10px;
                                    background-color: #a4a4a4;
                                    @include posa-tr(50%, 5px);
                                    margin-top: -10px;
                                }
                            }
                        }
                        input[type=text] {
                            font-size: 12px;
                            font-family: $malgun;
                            & + .styled-select {
                                margin-left: 10px;
                            }
                        }
                        .styled-select {
                            width: 100%;
                            display: block;
                            select {
                                height: 30px;
                            }
                        }
                    }
                }
                .subject-wrap {
                    display: flex;
                    align-items: center;
                    & + .subject-wrap {
                        margin-top: 12px;
                    }
                    h4 {
                        font-size: 15px;
                        font-weight: 500;
                        color: #fff;
                        line-height: 23px;
                        height: 23px;
                        padding: 0 7px;
                        background-color: #6f6f6f;
                        margin-right: 20px;
                    }
                }
                .more-subject {
                    display: flex;
                    align-items: center;
                    padding: 10px;
                    margin-top: 12px;
                    em {
                        color: #666;
                        margin-right: 10px;
                    }
                }
                .additional-info {
                    margin-bottom: 50px;
                    &:first-child {
                        .additional-info-title {
                            border-top: none;
                        }
                        .additional-info-career {
                            table {
                                border-top: 1px solid #c9c9c9;
                            }
                        }
                    }
                    &-title {
                        position: relative;
                        height: 50px;
                        line-height: 47px;
                        text-align: center;
                        font-size: 16px;
                        background-color: #f9f9f9;
                        border-top: 2px solid #000;
                        border-bottom: 1px solid #C9C9C9;
                        button {
                            display: block;
                            width: 20px;
                            height: 20px;
                            background-image: url("data:image/svg+xml,%3Csvg width='21' height='20' viewBox='0 0 21 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.578 0L10.578 20M0.0771484 9.5H20.0787' stroke='black'/%3E%3C/svg%3E%0A");
                            @include ti;
                            @include posa-tr(50%, 10px);
                            margin-top: -10px;
                        }
                    }
                    &-career, &-education {
                        padding-top: 20px;
                        .btn-del {
                            display: block;
                            width: 20px;
                            height: 20px;
                            @include ti;
                            background-image: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 4.5L0.5 8L0 7.5L3.5 4L0 0.5L0.5 0L4 3.5L7.5 0L8 0.5L4.5 4L8 7.5L7.5 8L4 4.5Z' fill='%23444444'/%3E%3C/svg%3E%0A");
                            background-repeat: no-repeat;
                            background-position: 50% 50%;
                            border: 1px solid #666;
                            @include posa-tr(50%, 10px);
                            margin-top: -10px;
                        }
                        .com_schA {
                            margin-bottom: 0;
                        }
                        input[type=text], select, textarea {
                            width: 100%;
                        }
                        textarea {
                            border: 1px solid #C2C2C2;
                            height: 158px;
                        }
                        table {
                            & + table {
                                margin-top: 10px;
                            }
                            th, td {
                                padding: 10px;
                                position: relative;
                                border: 1px solid #c2c2c2;
                            }
                            th {
                                background-color: #dceaff;
                                text-align: center;
                            }
                            tr {
                                td + th {
                                    border-left: 1px solid #C9C9C9;
                                }
                                th, td {
                                    &:first-child{
                                        border-left: 0;
                                    }
                                    &:last-child{
                                        border-right: 0;
                                    }
                                }
                            }
                        }
                    }
                    &-education {
                        padding-top: 0;
                        table {
                            & + table {
                                margin-top: 0;
                            }
                            th, td {
                                border-top: none;
                            }
                            tr {
                                td {
                                    &:last-child {
                                        padding-right: 40px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &1 {
                margin-bottom: 80px;
                &.active {
                    .default-info {
                        display: none;
                        &-modify {
                            display: table;
                        }
                    }
                    .btn-wrap-modify {
                        display: flex;
                    }
                }
                .default-info-modify {
                    display: none;
                }
                div[class^="btn-wrap"] {
                    justify-content: flex-end;
                    margin-top: 15px;
                }
                .btn-wrap-modify {
                    display: none;
                }
            }
        }
    }
}

#popup-view {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: none;
    &.active {
        display: block;
    }
    &:before {
        @include ct;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: 0.6;
    }
    .inner {
        width: 410px;
        background-color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 15px 35px 30px;
        box-sizing: border-box;
    }
    h2 {
        font-size: 18px;
        line-height: 26px;
        color: #222;
        font-family: $spoqa;
        text-align: center;
        margin-left: -15px;
        margin-right: -15px;
        margin-bottom: 25px;
        span {
            color: #0a7dbb;
        }
        &:before {
            @include ct;
            width: 30px;
            height: 50px;
            margin: 0 auto 15px;
            background-image: url("data:image/svg+xml,%3Csvg width='70' height='123' viewBox='0 0 70 123' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_3230_5331)'%3E%3Cpath d='M34.52 96.25H48.02C52.02 96.25 52.02 93.98 53.46 85.52C54.04 82.19 54.9 78.79 57.57 76.58C68.1 67.84 68.1201 52.17 68.1201 52.17C68.1293 43.2693 64.6024 34.7295 58.3152 28.4292C52.0281 22.1289 43.4957 18.5843 34.595 18.575C25.6944 18.5657 17.1545 22.0926 10.8542 28.3797C4.5539 34.6669 1.00934 43.1993 1.00006 52.1C1.00006 52.1 0.999949 67.77 11.5099 76.54C14.1699 78.76 15.03 82.15 15.59 85.48C17.04 93.95 16.98 96.22 21.02 96.22L34.52 96.25Z' fill='white' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M46.32 96.24H22.69V116.47H46.32V96.24Z' fill='%23FFD251' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M38.95 68.54C38.74 72.03 38.95 96.23 38.95 96.23H30.11C30.11 96.23 30.11 68.56 30.11 68.54C30.2602 65.6877 29.7822 62.8373 28.71 60.19C27.71 58.19 25.71 55.46 23.23 55.36C22.4531 55.289 21.6772 55.5062 21.0499 55.97C19.3799 57.31 20.7499 60.67 21.7599 62.02C24.1599 65.22 28.84 65.34 32.48 65.63C36.6103 66.0723 40.783 65.3809 44.5499 63.63C45.4478 63.2605 46.2636 62.7168 46.9502 62.0302C47.6368 61.3437 48.1804 60.5279 48.5499 59.63C49.1299 57.78 48.0899 55.36 46.1599 55.11C44.5199 54.91 43.0899 56.24 42.1599 57.61C40.1179 60.8945 39.0083 64.6729 38.95 68.54Z' fill='white' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M40.78 116.47H28.2V121.85H40.78V116.47Z' fill='%23FFD251' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M34.48 10.68L34.44 1' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M20.26 13.17L16.91 4.09' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7.75 20.38L1.5 12.99' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M48.63 13.17L51.98 4.09' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M61.14 20.38L67.39 12.99' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M22.64 103.58H46.38' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M22.64 110.02H46.38' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_3230_5331'%3E%3Crect width='69.12' height='122.86' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-position: 0 0;
            background-size: 100%;
        }
    }
    table {
        width: 100%;
        table-layout: fixed;
        border-collapse: collapse;
        margin-bottom: 28px;
        th, td {
            background-color: #cae7f8;
            text-align: left;
            font-family: $spoqa;
            font-size: 16px;
            font-weight: 400;
            padding: 10px 12px;
            word-break: break-all;
        }
        th {
            border-right: 1px solid #fff;
            width: 105px;
        }
        tr:nth-child(even) {
            th, td {
                background-color: #b7d8eb;
            }
        }
    }
    .btn-wrap {
        display: flex;
        justify-content: center;
        button {
            width: 127px;
            height: 40px;
            line-height: 40px;
            background-color: #acacac;
            color: #fff;
            font-family: $spoqa;
            font-size: 16px;
            &.btn-confirm {
                margin-left: 20px;
                background-color: #0a7dbb;
            }
        }
    }
}

.agreement-pop {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: none;
    &:before {
        @include ct;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #000;
        opacity: 0.7;
    }
    .comPopup {
        width: 393px;
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

/* 학교검색 팝업 */
.post_search .btn_search {
    height: 30px;
    right: 3px;
}